landingzone/.terraform.lock.hcl
landingzone/.terraform/
landingzone/terraform.tfstate
landingzone/terraform.tfstate.backup
.terraform.lock.hcl
.terraform
terraform.tfstate
terraform.tfstate.backup
terraform.tfstate.1702313889.backup

